.titles {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3c8dbc;
}

.titles h1 {
  color: white;
  font-family: Helvetica;
}

.white {
  width: 100%;
  background: white;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 20px;
}

#myTable {
  text-align: center;
}

#myTable img {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}

.opacity {
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.9;
}

.image-opacity {
  background-image: url("/admin/images/lion-wallpaper.jpg");
  position: relative;
  width: 100%;
  height: 100%;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -15em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -15em;
  /*set to a negative number 1/2 of your width*/
}

.ui-datepicker-trigger {
  display: none;
}